body{
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	user-select: none;
}
.header{
	display: flex;
	background: #49473f;
	height: 122px;
	justify-content: space-around;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;	
}
.logo img{
	float: left;
}
.logo h1{
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	position: relative;
	left: -43px;
	top: 1.5px;
}
.logo h2{
	position: relative;
	right: 25px;
	color: #fff;
	font-size: 32px;
	font-weight: 500;
}
.logo span{
	color: #18cfab;
	font-weight: 700;
}
.menu a{
	color: #b8b8b8;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
}
.menu a:hover{
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
}
/*HOME*/
.home{
	display: flex;
	height: 1012px;
	justify-content: center;
	background: #3b3b3b;
	align-items: center;
}
.home__text{
	color: #fff;
	text-align: center;
	position: relative;
	position: absolute;
	top: 400px;
}
.home #h1{
	font-size: 35px;
	font-weight: 700;
}
.home #h1 span{
	color: #18cfab;
}
.home #h2{
	font-size: 79px;
	font-weight: 700;
}
.home #h3{
	font-size: 34px;
	font-weight: lighter;
	color: #d4d4d4;
}
.home__button{
	position: relative;
	top: 100px;
}
.home__button button{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	border-top: 3px solid #fff;
	height: 60px;
	border-radius: 4px;
	width: 165px;
	cursor: pointer;
}
.home__button button:hover{
	opacity: 0.8;
}
.home__button .left{
	background-color: #18cfab;
}
.home__button .right{
	background-color: #00cbf6;
}
.next-slide{
	position: relative;
	position: absolute;
	right: 8em;
	top: 43.5em;
}
.slide__background{
	background: #202020;
	width: 8.5em;
	height: 5em;
}
.slide__arrow{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.slide__arrow div{
	cursor: pointer;
}
.slide__arrow div:hover{
	opacity: 0.8;
	border: 1px solid #00cbf6;
}
.slide__arrow .left__arrow{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #3c4140;
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.slide__arrow .right__arrow{
	padding: 5px 10px 5px 10px;
	display: flex;
	align-items: center;
	background: #18cfab;
	margin-top: 5px;
}
.option{
	display: flex;
	align-items: stretch;
}
.option div{
	width: 25em;
	height: 13em;
	display: flex;
	flex-direction: column;
}
.option svg{
	position: relative;
	height: 5em;
	top: 1em;
}
.option h1{
	font-size: 20px;
	font-weight: 700;
	position: relative;
	top: 2em;
}
.option #first{
	padding-top: 3em;
	background:#1C2A33;
	align-items: center;
	color:#18cfab;
	border-top: 7px solid #18cfab;
	text-align: center;
}
.option #second{
	padding-top: 3em;
	background: #18cfab;
	color: #fff;
	text-align: center;
	align-items: center;
	border-top: 7px solid #fff;
}
.option #third{
	padding-top: 3em;
	background:#1C2A33;
	align-items: center;
	color:#18cfab;
	border-top: 7px solid #18cfab;
	text-align: center;
}
.option #fourth{
	padding-top: 3em;
	background: #18cfab;
	color: #fff;
	align-items: center;
	text-align: center;
	border-top: 7px solid #fff;
}
.wrapper__full{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
	justify-content: space-between;
}
.wrapper__title{
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}
.wrapper__title h1{
	font-size: 36px;
	font-weight: 400;
	color: #4e4e4e;
}
.double-underline{
	position: relative;
	top: 3em;
	right: 16em;
	border: none;
}
.underline#N2{
	position: relative;
	left: 1em;
}
.underline hr{
	background-color: #18cfba;
	height: 1px;
	width: 3.75em;
	margin-bottom: 3px;
	border: none;
	color: #18cfba;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin-top: 2em;
}
.title__wrapper{
	display: flex;
	height: 3em;
}
.title__wrapper h3{
	font-weight: 700;
	margin-left: 1em;
	position: relative;
	top: 0.25em;
	color: #717171;
}
.title__wrapper-hover h3{
	font-weight: 700;
	margin-left: 1em;
	color: #18cfab;
}
.wrapper section{
	height: 143px;
	width: 16.7em;
	margin-bottom: 2em;
	margin-right: 1.75em;
	margin-left: 1.75em;
}
.wrapper section p{
	font-size: 14px;
	font-weight: 300;
	text-align: justify;
	margin-right: 1em;
}
.AOC{
	background: #000;
	height: 30em;
	width: 100%;
	display: flex;
	padding-top: 90px;
}
.AOC__left{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.GrayImg{
}
.GrayLine{
	background: #b3b3b3;
}
.AOC__right{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.AOC__title{
	height: 75px;
	width: 30em;
	color: #fff;
	display: flex;
	text-align: center;
}
.AOC__title h1{
	font-size: 36px;
	font-weight: 500;
	position: relative;
	width: 100%;
}
.double-underline#N2{
	position: relative;
	top: 4em;
}
.history__title{
	display: flex;
	justify-content: space-between;
	width: 20em;
	height: 5em;
	align-items: center;
	position: relative;
	top: 1em;
	right: 2em;
	width: 24em;
}
.history__title h2{
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 8px;
}
.history__title h2:hover{
	border-top: 2px solid #18cfab;
	color: #18cfab;
}
.skills{
	margin-top: 3em;
	margin-left: 2em;
	width: 28em;
	height: 15em;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bar{
	height: 2em;
	display: flex;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #959595;
}
.bar hr{
	position: absolute;
	border: none;
	height: 2em;
	z-index: 1;
}
.bar h3{
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 1em;
	z-index: 2;
}
.bar#N1 hr{
	background: #9c5da5;
	color: #9c5da5;
	width: 23em;
}
.bar#N2 hr{
	background: #11b0de;
	color: #11b0de;
	width: 25.5em;
}
.bar#N3 hr{
	width: 21em;
	background: #d67f7f;
	color: #d67f7f;
}
.bar#N4 hr{
	width: 27em;
	color: #20bc9d;
	background: #20bc9d;
}
.bar#N5	hr{
	width: 25.5em;
	color: #bb8a36;
	background: #BB8A36;
}
